
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Preview</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h2>What is 'Preview'?</h2>
    <div> 
        If a screen, button, or form within the application is marked preview, it means that it is still 'In-Development'.  
        This feature is new and still being finalized and you are part of a small group responsible for providing feedback on how it is working for you.  

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
